---
import Areas from '../components/Areas.astro';
import BackgroundVideo from '../components/BackgroundVideo.astro';
import Footer from '../components/Footer.astro';
import Info from '../components/Info.astro';
import Javier from '../components/Javier.astro';
import Search from '../components/Search.astro';
import ValveIcon from '../components/ValveIcon.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <header class="flex items-center justify-between w-full py-4 px-[18vw]">
        <ValveIcon />
        <Javier />
    </header>
    <main >
        <div class="px-[18vw] my-[10vh] flex items-center justify-between">
            <Info />
            <Search />
        </div>
        <div class="mb-20">
            <Areas />
            <BackgroundVideo />
        </div>
    </main> 
    <footer class="py-4 w-full w-min-[15vh] bg-[#f74843]">
        <Footer />
    </footer>
</Layout>

