---
import Layout from '../layouts/Layout.astro';
import ValveIcon from '../components/ValveIcon.astro';
---

<Layout>
    <header class="flex items-center justify-between w-100 px-10 py-4">
        <ValveIcon />
        <img class="h-20" src="/yellow-sphere.png" alt="Made by Javier Santos">
    </header>
    <main>
    </main>
    <footer>

    </footer>
</Layout>
