---

---

<div class="relative">
    <video autoplay loop src="/valve-background-video.webm" class="fixed top-0 left-0 z-[-1] h-screen w-screen object-cover filter brightness-50"/>
    <div class="absolute top-0 left-0 h-full w-full bg-blue-500 opacity-50"></div>
</div>