---

---
<div class="px-[18vw] flex w-full justify-between text-white [&>div>h2]:font-bold [&>div>p]:text-black">
    <div><h2>Valve Corporation</div>
    <div class="text-xs [&>p]:mt-2">
        <h2>Contact</h2>
        <p>People</p>
        <p>Press inquires</p>
    </div>
    <div class="text-xs [&>p]:mt-2">
        <h2>Stuff</h2>

    <p>About Us</p>
    <p>Jobs</p>
    <p>Steam Partners</p>
    <p>Publications</p>

    </div>
    <div class="text-xs [&>p]:mt-2">
        <h2>More stuff</h2>
        <p>Site Terms of Use</p>
        <p>Privacy Policy</p>
        <p>Security</p>
        <p>Legal</p>
    </div>
    <div class="w-28">
        <img src="/steam-logo-footer.png" alt="Steam logo">
    </div>
</div>