---

---
<div class="px-[18vw] flex w-full justify-between text-white [&>div>h2]:font-bold [&>div>p]:text-black">
    <div><h2>Valve Corporation</div>
    <div class="text-xs [&>p]:mt-2">
        <h2>Contact</h2>
        <p class="hover:text-white">People</p>
        <p class="hover:text-white">Press inquires</p>
    </div>
    <div class="text-xs [&>p]:mt-2">
        <h2>Stuff</h2>
        <p class="hover:text-white">About Us</p>
        <p class="hover:text-white">Jobs</p>
        <p class="hover:text-white">Steam Partners</p>
        <p class="hover:text-white">Publications</p>
    </div>
    <div class="text-xs [&>p]:mt-2">
        <h2>More stuff</h2>
        <p class="hover:text-white">Site Terms of Use</p>
        <p class="hover:text-white">Privacy Policy</p>
        <p class="hover:text-white">Security</p>
        <p class="hover:text-white">Legal</p>
    </div>
    <div class="w-28">
        <img src="/steam-logo-footer.png" alt="Steam logo">
    </div>
</div>