---

---
<div>
    <a href="https://www.valvesoftware.com/en/about" target="_blank">
        <h1 class="text-5xl font-bold text-[#f74843] hover:text-white transition-colors duration-200">We make games, Steam, and hardware. Join us.</h1>
    </a>
    <p class="py-8 text-xl text-white">We aren't a typical company—which is why you're here, right? As a flat company without hierarchy and job titles, we don't usually hire for specific roles. (Though we sometimes do!) Opportunities at Valve run broad and deep. We're always hiring highly experienced collaborators who are the best at what they do, across the following areas: </p>
</div>
