---

---
<div class="w-1/2 p-12 mt-auto relative caret-[#f74843]">
  <input type="text" placeholder="Search jobs" class="w-full px-4 py-2 border-b-2 border-gray-300 bg-transparent focus:outline-none focus:border-[#f74843]" />
  
  <svg class="absolute right-4 top-1/2 transform -translate-y-1/2 text-white w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M11 4a7 7 0 011 13.938V20l5 5-1 1-5-5v-1.062A7 7 0 1111 4z"></path>
  </svg>
</div>
  